/**
* FONT-FACE
----------------------------------------------------------------------
*/

@font-face {
    font-family: 'Akashi';
    src: url('fonts/akashi-webfont.eot');
    src: url('fonts/akashi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akashi-webfont.woff') format('woff'),
         url('fonts/akashi-webfont.ttf') format('truetype'),
         url('fonts/akashi-webfont.svg#akashiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-mediumitalic-webfont.eot');
    src: url('fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sintony';
    src: url('fonts/sintony-regular-webfont.eot');
    src: url('fonts/sintony-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sintony-regular-webfont.woff') format('woff'),
         url('fonts/sintony-regular-webfont.ttf') format('truetype'),
         url('fonts/sintony-regular-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
* LESS CSS VARIABLES AND MIXINS
----------------------------------------------------------------------
*/

/**
* Variables
--------------------------------*/

/* Colors */

@font-color: #333;
@font-color-light: #fefefe;

@link-color: #167975;
@link-color-darker: darken(@link-color, 10%);
@link-color-lighter: #a3dbd9;

@primary-color: #d96342;
@primary-color-darker: darken(@primary-color, 25%);
@primary-color-lighter: lighten(@primary-color, 35%);

@secondary-color: #8aa54b;
@secondary-color-darker: darken(@secondary-color, 25%);
@secondary-color-lighter: lighten(@secondary-color, 30%);

@tertiary-color: #167975;
@tertiary-color-darker: darken(@tertiary-color, 15%);
@tertiary-color-lighter: #a3dbd9;

.primary-color { background: @primary-color }
.secondary-color { background: @secondary-color }
.tertiary-color { background: @tertiary-color }

.primary-color-darker { background: @primary-color-darker }
.secondary-color-darker { background: @secondary-color-darker }
.tertiary-color-darker { background: @tertiary-color-darker }

.primary-color-lighter { background: @primary-color-lighter }
.secondary-color-lighter { background: @secondary-color-lighter }
.tertiary-color-lighter { background: @tertiary-color-lighter }

/* Sizes */

@font-size-base: 18px;
@font-size-increased: @font-size-base * 1.25;
@font-size-reduced: @font-size-base * 0.9;

@base-space: @font-size-base;
@slim-spacing: @base-space / 2;
@v-space: @base-space * 1.5;
@v-space-reduced: @v-space / 2;
@v-space-increased: @v-space * 2;
@h-space: @base-space * 2;
@h-space-reduced: @h-space / 2;
@h-space-increased: @h-space * 2;
@heading-before-space: @font-size-base * 2.25;

@border-width: 0.125em;

/* Font families */

@family-main: 'Roboto';
@family-headings: 'Sintony';
@family-special: 'Akashi';

/* Helper mixins */

.call-to-action-font {
	font-family: @family-headings;
	text-transform: uppercase;
	letter-spacing: @font-size-base / 8;
}

.hyphens {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.box-sized {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box-style-primary {
}

.border-radius {
	-moz-border-radius: @base-space;
	-webkit-border-radius: @base-space;
	border-radius: @base-space;
}

.translucent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.transition-basic(@time) {
	-webkit-transition: @time linear all;
	-moz-transition: @time linear all;
	-o-transition: @time linear all;
	-ms-transition: @time linear all;
	transition: @time linear all;
}

.headings {
	text-transform: capitalize;
	color: @font-color;
	font-weight: normal;
}

/**
* -------------------------------------------------------------- 
End LESS CSS VARIABLES AND MIXINS
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none }

blockquote, q { quotes: none }

table { 
	border-collapse: collapse; 
	border-spacing: 0;
}

input, select { vertical-align: middle }

/**
* Body
----------------------------------------------------------------------
*/

body { 
	font-size: @font-size-base;
	background: url('../images/tiny_grid.png');
	line-height: @v-space;
	font-weight: normal;
	font-family: @family-main;
	color: @font-color;
}


/**
* Generic links
----------------------------------------------------------------------
*/

a, a:visited { 
	color: @link-color;
	border-bottom: 1px solid;
	text-decoration: none;
}

a:hover { 
	color: @link-color-darker;
	border-bottom: 2px solid;
}

a:active { 
	outline: none;
	border-bottom: 3px solid;
}

a:focus { outline: 1px dotted #999 }

/* Icon provisions */

#checklist li button span, #checklist li a[role="button"] span {
	display: inline-block;
	height: 0;
	width: 0;
	overflow: hidden;
}

i {
	font-style: normal !important;
}

/**
* Flow
----------------------------------------------------------------------
*/

body * + * {
	margin-top: @v-space;
}

blockquote, figure {
	padding: @base-space;
}

blockquote p {
	font-size: @font-size-increased;
	font-style: italic;
}

caption { 
	text-align: center;
	padding: @slim-spacing;
	padding-bottom: 0;
}

blockquote footer:before { 
	content: '\2014';
	padding: 0 @slim-spacing 0 0;
}

blockquote p:before, q:before { content: '\201C' }

blockquote p:after, q:after { content: '\201D' }

/**
* Media
----------------------------------------------------------------------
*/

img {
	max-width: 100%;
	height: auto;
}

/**
* Paragraphs and lists
----------------------------------------------------------------------
*/

p { 
	text-align: justify;
}

p:only-child {
	text-align: left;
}

li, dt, dd { margin-top: 0 }

p + p { margin-top: @v-space/2; }

p * { margin: 0 }

/* for introductory paragraphs belonging to major sections */
h1 + p, header + p, hgroup + p { font-size: @font-size-increased; text-align: center; }

li { list-style: disc inside }

ol li { list-style-type: decimal }

dl {
	font-size: 0;
}

dt, dd {
	font-size: @font-size-base;
	display: inline-block;
	vertical-align: top;
	width: 75%;
	.box-sized;
	padding-top: @v-space-reduced;
}

dt {
	width: 25%;
	text-align: right;
	font-style: italic;
	padding-right: 1.5em;
	.hyphens;
}

/**
* Headings
----------------------------------------------------------------------
*/

h1, h2, h3, h4, hgroup {
	font-family: @family-headings;
	line-height: 1;
	.headings;
	text-align: center;
}

h1 {
	font-family: @family-special;
}

* + h1, * + h2, * + hgroup { margin-top: @v-space*1.5 }
* + h4 { margin-top: @v-space; }

hgroup * {
	margin: 0;
}

h3 { 
	font-size: 1.5em;
	text-align: left;
}

h4 { 
	font-size: 1em; 
	text-align: left;
}

h2 { font-size: 2.125em }
h1 { font-size: 3em }
h1 span {
	display: inline-block;
	height: 0;
	width: 0;
	overflow: hidden;
}
hgroup h1 { font-size: 3.75em }

/**
* Phrasing
----------------------------------------------------------------------
*/

p * { line-height: 1; }

strong, abbr, b { font-weight:700 }
em, cite, q, i { font-style: italic }
abbr { letter-spacing: 0.125em }
del { text-decoration: line-through }
abbr[title], dfn[title] { cursor: help }

small {
	font-size: @font-size-reduced;
	.translucent;
}

code {
	background: #eee;
	padding: 0.25em;
	font-family: 'Lucida Console', monospace;
	font-size: 0.9em;
	letter-spacing: 1px;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

sup, sub {
	line-height: 0;
	font-size: 0.8em;
}

sup {
	vertical-align: super;
	font-style: italic;
}

sub {
	vertical-align: sub;
	position: relative;
	top: -0.125em;
	font-size: 0.8em;
}

kbd {
	font-family: 'Lucida Console', monospaced;
	border: 2px solid;
	padding: 0 0.125em;
	white-space: nowrap;
}

/**
* Boxes (divs and sections)
----------------------------------------------------------------------
*/

div { 
	.box-sized;
}

* + section, * + article, * + aside {
	margin-top: @v-space-increased;
}

/**
* Grid-like helper styles
* For making quasi-columns / adjacent boxes. Example HTML to follow
----------------------------------------------------------------------
*/

/* to remove inline-block white space separating children */
div[class^="group"] { 
	font-size: 0; 
	text-align: left;
} 

div[class^="group"] > * {
	font-size: @font-size-base; /* override reset in above rule */
	display: inline-block; /* floats are for losers */
	vertical-align: top;
	margin-top: 0;
}

.lt-ie8 div[class^="group"] > * {
	display: inline;
	zoom: 1;
}

/* adjacent boxes need gutters. We create this using margin on their direct children  */
div[class^="group"] > * > * { 
	margin: 0 @h-space-reduced 0 0;
	.box-style-primary; /* import basic box styling */
}
div[class^="group"] > * + * > * { margin: 0 @h-space-reduced 0 } 
div[class^="group"] > *:last-child > * { margin-right: 0 }

/* One from each of the following sets of three to be placed on the containing div element */ 

/* Set 1: Horizontal alignment of boxes */
div.group-left { text-align: left }
div.group-center { text-align: center }
div.group-right { text-align: right }

/* Set 2: Vertical alignment of boxes */
div.group-top > * { vertical-align: top }
div.group-middle > * { vertical-align: middle }
div.group-bottom > * { vertical-align: baseline }

/** 
* EXAMPLE
* Inline styles are used to define width 
*(saves on spawning classes like ".three-fifths" etc)
* Boxes are centered on vertical axis 
********************************************

<div class="group-center group-middle">
	<div style="width:50%">
		<div><!-- box content --></div>
	</div>
	<div style="width:30%">
		<div><!-- box content --></div>
	</div>
	<div style="width:20%">
		<div><!-- box content --></div>
	</div>
</div>

*/

/**
* Collapsable definition items
* Uses the 5k collapse plugin (http://webcloud.se/jQuery-Collapse/)
----------------------------------------------------------------------
*/

@media screen {

/* Layout */

@content-max-width: 900px; /* overall width of contents, not wrappers */
@right-column-width: 200px; /* fixed width of aside role="complementary" */
@column-gutter: @h-space; /* space between columns */

div[role="main"] {
	float: left;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 900px;
	padding: @v-space;

}

div[role="main"] > div {
	margin-right: @right-column-width + @column-gutter;
}

aside[role="complementary"] {
	float: left;
	width: @right-column-width;
	margin-left: -@right-column-width;
	margin-top: 0;
}

footer {
	clear: both;
}

/**
* Forms
----------------------------------------------------------------------
*/

fieldset {
	padding: 1.5em;
	border: @border-width solid @primary-color;
}

legend {
	font-size: 1.25rem;
	font-style: italic;
	padding: 0 0.5em;
}

form div {
	font-size: 0;
}

legend + div {
	margin-top: 0;
}

form div > * {
	font-size: @font-size-base;
	margin-top: 0;
	display: inline-block;
	vertical-align: middle;
}

label {
	line-height: 1;
	font-weight: 700;
}

input, textarea, select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	line-height: 1;
	width: 50%;
	padding: 0.25em;
	border: 1px solid @font-color;
	.box-sized;
	padding: 0.66em;
	border: 2px solid @primary-color;
	box-shadow: inset 3px 3px 0 @primary-color-lighter;
}

form p {
	padding: 0 0 0 40%;
	margin: 0 0 0 0.5em;
}

form p + p {
	margin-top: 0.5em;
	text-indent: 0;
}

input:focus, textarea:focus, select:focus {
	outline: 2px solid @primary-color;
}

input[type="submit"]:focus {
	outline: 1px dotted #999;
}

option {
	margin-top: 0;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	border: 0;
}

/**
* <nav> sections
----------------------------------------------------------------------
*/

nav ul {
	text-align: center;
	font-size: 0;
}

nav li, {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-size: @font-size-increased;
	padding: 0;
}

.lt-ie8 nav li, .lt-ie8 {
	display: inline;
	zoom: 1;
}

nav a, nav a:hover, nav a:active, nav a:visited, .tabs-nav a {
	border: 0;
	outline: none;
	display: inline-block;
	margin-bottom: @slim-spacing/2;
	text-align: center;
	font-weight: 700;
	color: @font-color-light;
	padding: 0.25em 0.5em;
}

nav a:hover, nav a:active, nav a:focus {
	color: @link-color;
}

nav li + li:before {
	content: '\2605';
	color: @secondary-color;
	padding: 0 0.5em;
}

body > nav {
	background: @font-color;
	padding: @v-space/2 @v-space/2;
	font-size: @font-size-base*2;
	margin-top: 0;
}

body > nav img {
	width: 200px;
	height: auto;
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}

body > nav li {
	font-size: @font-size-base*1.75;
}

body > nav ul {
	text-align: right;
	margin: 0;
}

body > nav a, body > nav a:hover, body > nav a:active, body > nav a:focus {
	padding: @v-space/2 0;
}

body > nav a.active {
	border-bottom: 4px solid #fff !important;
}


/**
* Buttons
----------------------------------------------------------------------
*/

button, a[role="button"], input[type="submit"] {
	background: @font-color;
	color: @font-color-light;
	padding: @slim-spacing*1.5 @slim-spacing*4;
	border: 0;
	cursor: pointer;
	display: inline-block;
	width: auto;
	margin-right: @slim-spacing;
	margin-top: 0;
	font-family: inherit;
	font-size: @font-size-increased;
	line-height: 1;
}

button:focus, a[role="button"]:focus, input[type="submit"]:focus {
	outline: none;
	background-color: #000;
}

button:active, a[role="button"]:active, input[type="submit"]:active {
	box-shadow: inset 1px 1px 0 #000, inset 2px 2px 0 #000;
	position: relative;
	left: 0px;
	top: 1px;
}

/* use #disabled as the href value on links that you wish to display as disabled */
*[disabled="disabled"], a[href="#disabled"] {
	opacity: 0.5;
	cursor: default;
}

/* reset active styles for disabled elements */
*[disabled="disabled"]:active, a[href="#disabled"]:active {
	top: 0;
	background: #990000;
}

.box dt, .box dd {
	display: block;
	text-align: left;
	width: auto;
	padding: 0;
}

.box dt  a {
	padding: @v-space/2 @h-space/2;
	background: @link-color;
	display: block;
	color: @font-color-light;
	border: 0;
	font-style: normal;
}

.box dt {
	margin-bottom: @v-space/4;
}

.box dt a:before {
	content:'\25B6';
	padding-right: @h-space/2;
}

.box dt.open a:before {
	content:'\25BC';
}

.box dt.open {
	margin-bottom: 0;
}

.box dd {
	padding: @v-space/2 0;
	.transition-basic(0.3s);
}

.box dt  a:hover, .box a:active, .box a:focus {
	background: @link-color-darker;
}

/**
* Picker 
----------------------------------------------------------------------
*/

ul.tags {
	text-align: center;
}

ul.tags li {
	list-style: none;
	display: inline;
	padding: 0.33em;
	font-size: 1.125em;
}

span.count {
	font-size: 0.6em;
    letter-spacing: 0;
	line-height: 1;
	vertical-align: middle;
	color: @secondary-color-darker;
	background: @secondary-color-lighter;
	padding: 0 0.4em;
	border-radius: 50%;
	position: relative;
	left: -0.33em;
}

ul.tags a[role="button"] {
	background: 0;
	color: @link-color;
	padding: 0;
	font-size: 1.5em;
	white-space: nowrap;
}

ul.tags a[role="button"]:hover, ul.tags a[role="button"]:active, ul.tags a[role="button"]:focus {
	color: @link-color-darker;
	box-shadow: none;
}

ul.tags a[role="button"]:hover span {
	background: @link-color-darker;
	color: @font-color-light;
}

ul.symptoms {
	background: @font-color-light;
	padding: 1.5em;
	box-shadow: 3px 3px 0 @primary-color-lighter;
}

ul.symptoms li {
	font-size: 1.25em;
	list-style: none;
	line-height: 1;
	vertical-align: top;
	font-size: 1.5em;
}

ul.symptoms li + li {
	margin-top: 0.5em;
}

ul.symptoms li * {
	vertical-align: middle;
}

ul.symptoms label span:before {
	content: '\2610';
	padding-right: 0.25em;
}

ul.symptoms label {
	display: block;
	.transition-basic(0.3s);
	cursor: pointer;
}

ul.symptoms label.selected {
	background: @secondary-color-lighter;
	padding: 0.33em;
}

ul.symptoms label.selected span:before {
	content: '\2611';
	padding-right: 0.25em;
}

ul.symptoms input {
	position: absolute;
	top: -500px;
}

/**
* Checklist
----------------------------------------------------------------------
*/

#checklist ol {
	list-style: none;
	counter-reset: section;
}

#checklist li {
	padding: @v-space/3 @v-space/2 @v-space/2;
	background: @font-color-light;
	border: 2px solid @primary-color;
	list-style: none;
	font-size: 1.25em;
	cursor: s-resize !important;
}

#checklist li {
	margin-top: @v-space/3;
}

#checklist li:before {
	counter-increment: section;
	content:counter(section);
	font-family: 'Play', sans-serif;
	background: @primary-color;
	color: @font-color-light;
	padding: @v-space/4 @v-space/2;
	margin-right: @v-space/4;
	display: inline-block;
}

#checklist li.ui-sortable-helper {
	box-shadow: 2px 2px 5px #000;
}

.ui-sortable-helper:before, 
#checklist li.ui-sortable-helper ~ li:before {
	content:'?' !important;
}

#checklist li button {
	padding: 0;
	background: transparent;
	color: @tertiary-color;
	margin: 0;
}

.button-group {
	text-align: center;
}

.button-group button {
	margin:0 @v-space/2 @v-space/2;
}

.add-symptoms input {
	width: 100%;
}

.add-symptoms * {
	margin: 0;
}

.add-symptoms > div {
	position: relative;
	margin-top: @v-space;
}

.add-symptoms label > span {
	display: block;
	font-size: 1.125em;
	margin-bottom: @v-space/4;
}

.add-symptoms {

button, button:active, button:focus  {
    background: none repeat scroll 0 0 #D96342;
    top: 100%;
    box-shadow: none;
    height: 51px;
    left: 100%;
    margin: -51px 0 0 -52px;
    padding: 0 !important;
    position: absolute;
    display: block;
    width: 51px;
    font-size: 22.5px !important;
}

input {
	padding-right: 3em;
}

button:active, button:focus {
	background: @font-color;
}

}

.lt-ie8  .add-symptoms button {
	margin: -38px 0 0 0;
	height:38px;
}

.lt-ie8 .add-symptoms button[disabled="disabled"] {
	background: @primary-color-lighter;
}

/**
* Accordians
----------------------------------------------------------------------
*/

#info {
	background: @font-color-light;
	padding: @v-space;
	box-shadow: 4px 4px 0 @primary-color-lighter;
	margin-top: 12px;
}

accordian {
	display: block;
	margin-top: 0;
}

.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	margin: 0;
	background: @link-color-lighter;
	.box-sized;
	border-top: 4px solid @link-color-lighter;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.accordian li:first-child {
	border-top: 4px solid @link-color-lighter;
}

.collapse > div {
	padding: @h-space/2;
}

ul.accordion {
	margin-top: 0;
}

ul.accordion li {
	list-style: none;
}

.accordion h3 > a {
	display: block;
	margin: 0;
	background: #fff;
	color: @font-color;
	padding-left: 0;
}

.accordion h3 > a:focus {
	background: #fff;
	position: static;
	box-shadow: none;
}

.accordion h3 > a:before {
	content: '\25B6';
	font-weight: normal;
	padding-right: 0.25em;
	color: @link-color;
}

.accordion h3 > a:focus:before {
	font-size: 27px !important;
}

.accordion h3 > a.active {
	margin: 0;
}

.accordion h3 > a.active:before {
	content: '\25BC';
}

ul[role="toolbar"] li {
	display: inline-block;
	list-style: none;
	width: 25%;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.lt-ie8 ul[role="toolbar"] li {
	display: inline;
	zoom: 1;
}

ul[role="toolbar"] a {
	display: block;
	margin: 0;
	text-align: center;
	background: transparent;
	color: @font-color;
	padding: 0;
}

a[rel="prev"], a[rel="next"], ul.tags a {
	background-image: url(../images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 0.5em 100%;
}

a[rel="prev"]:active, a[rel="prev"]:focus, a[rel="next"]:active, a[rel="prev"]:focus {
	box-shadow: none;
	background-color: @tertiary-color;
}

a[rel="prev"] {
	padding-left: 1.5em;
}

a[rel="next"] {
	padding-right: 1.5em;
}

a[rel="next"], ul.tags a {
	background-image: url(../images/arrow_right.png);
	background-position: right center;
}

a[aria-controls="info"] {
	position: relative;
	.transition-basic(0.7s);
}

a[aria-controls="info"] span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: @v-space/2 15% @v-space/2 13%;
	color: #fff;
	margin: 0;
	.box-sized;
	font-family: @family-special;
}

a[aria-controls="info"]:focus, a[aria-controls="info"]:active, 
a[aria-controls="info"]:hover {
	background: transparent;
	box-shadow: none;
}

a[aria-controls="info"]:focus span, a[aria-controls="info"]:active span, 
a[aria-controls="info"]:hover span {
	color: @link-color-lighter;
}

a[aria-controls="info"] img {
	max-width: 80%;
}

a[aria-controls="info"][class*="active"] {
	top: @v-space !important;
}

a[aria-controls="info"][class*="active"] img {
	max-width: 100% !important;
}

a[aria-controls="info"][class*="active"] span {
	padding: @v-space/2 5% @v-space/2 3%;
}

}

@media screen and (max-width: 1000px) {

body > nav img {
	width: 150px;
}

}

@media screen and (max-width: 800px) {

body > nav img {
	width: 150px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

}

@media screen and (max-width: 600px) {

#info {
	padding: @v-space/2;
}

body > nav {
	background-position: center 18px;
	background-size: auto 80px;
	text-align: center;
}

body > nav ul {
	text-align: center;
	margin-top: @v-space/2;
}

body > nav img {
	position: static;
}

body > nav ul {
	font-size: 0.8em;
}

ul[role="toolbar"] li {
	width: 50%;
}

button, a[role="button"], 
a[rel="prev"], a[rel="next"], label 
 {
	font-size: 1em;
}

a[rel="prev"], a[rel="next"] {
	padding: 0.5em 1em;
}

ul.symptoms li {
	font-size: 1.125em;
}

a[aria-controls="info"][class*="active"] {
	top: 0 !important;
}

a[aria-controls="info"][class*="active"] img {
	max-width: 90% !important;
}

button, a[rel="prev"], a[rel="next"] {
	margin-bottom:@v-space/2;
}

}

/**
* Animations: Main View
----------------------------------------------------------------------

.view-enter-setup {
	-webkit-transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
	-moz-transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
	-o-transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
	transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}

.view-enter-setup {
	opacity: 0
}
.view-enter-setup.view-enter-start {
	opacity: 1;
}

.view-leave-setup {
	-webkit-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0;
	-moz-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0;
	-o-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0;
	transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0;
}

.view-leave-setup {
	opacity: 1;
}
.view-leave-setup.view-leave-start {
	opacity: 0;
}

.slide-enter-setup, .slide-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide-enter-setup {
  position:absolute;
  left:-100%;
}

.slide-enter-start {
  left:0;
}

.slide-leave-setup {
  position:absolute;
  left:0;
}

.slide-leave-start {
  left:100%;
}
*/

.wordcloud {
	text-align: center;
	margin-bottom: -27px;
}

.wordcloud text { 
 	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.wordcloud text:hover {
 	opacity: .7; 
}

.wordcloud svg {
	height: 500px;
	width: 500px;
}



#export {
	background: #fff;
	box-shadow: 4px 4px 0 @primary-color-lighter;
	padding: @v-space;
}

#export {

h1, h2, h3, h4 {
	font-family: 'trebuchet ms', trebuchet, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #111;
}

h1 { font-size: 2em; }
h2 { font-size: 1.33em; }
h3 { font-size: 1em; }

nav[role="navigation"] {
	background: transparent;
	border-bottom: 4px solid #111;
	padding: 0.5cm 0;
}

nav[role="navigation"] ul {
	display: none;
}

nav[role="navigation"] img {
	position: static;
	width: 3cm;
}

.editable > div {
	height: 2em;
	border: 2px solid #111;
	margin-top: @v-space/4;
}

h2 + p {
	margin-top: @v-space/4;
}

* + h2 {
	border-top: 2px dotted #666;
	padding-top: @v-space;
}

.tall > div {
	height: 8em;
}

}

@media print {

body {
	font-family: 'trebuchet ms', trebuchet, sans-serif;
	color: #111;
}

.container {
	padding: 0;
}

.no-print {
	display: none;
}

#export {
	padding: 0;
	box-shadow: none;
}

h1, h2, h3, h4 {
	font-family: 'trebuchet ms', trebuchet, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #111;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

nav[role="navigation"] {
	background: transparent;
	border-bottom: 4px solid #111;
	padding: 0.5cm 0;
}

nav[role="navigation"] ul {
	display: none;
}

nav[role="navigation"] img {
	position: static;
	width: 3cm;
}

.editable > div {
	height: 2em;
	border: 2px solid #111;
	margin-top: @v-space/4;
}

h2 + p {
	margin-top: @v-space/4;
}

* + h2 {
	border-top: 2px dotted #666;
	padding-top: @v-space;
}

.tall > div {
	height: 8em;
}

ul[role="toolbar"] {
	display: none !important;
}

#info li {
	list-style: none !important;
}

ul.accordion li div {
	display: block !important;
	height: auto !important;
}

.accordion h3 > a:before {
	content:'';
}

#info h2 {
	font-size: 2em;
}

.accordion h3 > a {
	font-size: 1.25em;
	color: #333;
	border: 0;
}

#info li + li h3 {
	border-top: 2px dotted #666;
	margin-top: @v-space;
	padding-top: @v-space;
}

}