<ul aria-label="Topic Options" role="tablist">
	<li ng-repeat="topic in topics">
		<a href="javascript:void(0)" role="tab" aria-controls="{{topic.slug}}">{{topic.title}}</a>
	</li>
</ul>

<div ng-repeat="topic in topics" role="tabpanel" id="{{topic.slug}}">
	<h2>{{topic.title}}</h2>
	<accordion>
		<accordion-group 
			ng-repeat="item in items | filter: { topic: topic.title }"
			heading="{{item.title}}"
			slug="{{item.slug}}"
			content="{{item.body}}">
		</accordion-group>
  	</accordion>
</div>

