<ul aria-label="Topic Options">
	<li ng-repeat="topic in topics">
		<a href="javascript:void(0)" 
			ng-class="{ active: activeTopic === topic }"
			ng-click="setActiveTopic(topic)" 
			role="button" 
			aria-controls="info">
			{{topic.title}}
		</a>
	</li>
</ul>

<div id="info">
	<h2>{{activeTopic.title}}</h2>
	<accordion>
		<accordion-group 
			ng-repeat="item in items | filter: { topic: activeTopic.title }"
			heading="{{item.title}}"
			slug="{{item.slug}}"
			content="{{item.body}}">
		</accordion-group>
  	</accordion>
</div>

