.icon-eye { background-image: url(png/eye.png); background-repeat: no-repeat; }

.icon-info { background-image: url(png/info.png); background-repeat: no-repeat; }

.icon-pencil { background-image: url(png/pencil.png); background-repeat: no-repeat; }