.icon-add { background-image: url(png/add.png); background-repeat: no-repeat; }

.icon-add { background-image: url(png/add.png); background-repeat: no-repeat; }

.icon-cloud { background-image: url(png/cloud.png); background-repeat: no-repeat; }

.icon-confidentiality { background-image: url(png/confidentiality.png); background-repeat: no-repeat; }

.icon-download { background-image: url(png/download.png); background-repeat: no-repeat; }

.icon-email { background-image: url(png/email.png); background-repeat: no-repeat; }

.icon-eye { background-image: url(png/eye.png); background-repeat: no-repeat; }

.icon-getting-the-most-out-of-your-appointment { background-image: url(png/getting-the-most-out-of-your-appointment.png); background-repeat: no-repeat; }

.icon-grid { background-image: url(png/grid.png); background-repeat: no-repeat; }

.icon-how-to-find-a-gp { background-image: url(png/how-to-find-a-gp.png); background-repeat: no-repeat; }

.icon-how-to-give-feedback { background-image: url(png/how-to-give-feedback.png); background-repeat: no-repeat; }

.icon-howitworks_1 { background-image: url(png/howitworks_1.png); background-repeat: no-repeat; }

.icon-howitworks_2 { background-image: url(png/howitworks_2.png); background-repeat: no-repeat; }

.icon-howitworks_3 { background-image: url(png/howitworks_3.png); background-repeat: no-repeat; }

.icon-info { background-image: url(png/info.png); background-repeat: no-repeat; }

.icon-know-your-rights { background-image: url(png/know-your-rights.png); background-repeat: no-repeat; }

.icon-pencil { background-image: url(png/pencil.png); background-repeat: no-repeat; }

.icon-print { background-image: url(png/print.png); background-repeat: no-repeat; }

.icon-what-can-a-gp-help-with { background-image: url(png/what-can-a-gp-help-with.png); background-repeat: no-repeat; }

.icon-what-to-expect { background-image: url(png/what-to-expect.png); background-repeat: no-repeat; }