<div role="main">
  <div class="intro mural">
	<div>
		<h1>About Us</h1>
	</div>
  </div>
  <div class="content">
	<h2>About Doc Ready</h2>
	
	<p>Doc Ready is a digital tool that helps young people to prepare and make the most out of
mental health related GP visits. It helps young people to know what to expect during a GP
consultation, plan what to say and record the outcomes of their appointments.

	<p>Doc Ready was an Innovation Labs project that has been designed and developed with
young people, you can read all about how the tool was built over on the blog here.</p>

	<h2>Who Are We?</h2>

	<p>Doc Ready has been developed in a partnership between the following organisations:
<strong>Neontribe</strong> (paper and digital prototyping pros with a passion for usercentred
design) and <strong>Social Spider</strong> (mental health / wellbeing organisation and publisher of <em>One in Four</em>
magazine) joined forces with <strong>FutureGov</strong> (technology, design and change management)
and <strong>Enabled by Design</strong> (community passionate about Design for All) to make Doc Ready a reality.</p>

	<div class="thumbs">
		<a href="http://enabledbydesign.org"><img src="images/logo_enabled.png" alt="Enabled By Design" target="_blank"/></a> 
		<a href="http://wearefuturegov.com" target="_blank"><img src="images/logo_futuregov.png" alt="Future Gov" /></a> 
		<a href="http://www.neontribe.co.uk" target="_blank"><img src="images/logo_neontribe.png" alt="Neon Tribe" /></a> 
		<a href="http://www.socialspider.com" target="_blank"><img src="images/logo_spider.png" alt="Social Spider" /></a>
	</div>

	<h2>Innovation Labs</h2>
	
	<p>Innovation Labs is a project run in partnership with the <strong>Paul Hamlyn Foundation</strong>,
<strong>Nominet Trust</strong> and <strong>Comic Relief</strong>, and supported by the <strong>Mental Health Foundation&apos;s</strong>
<strong>Right Here</strong> initiative. <strong>Four years in the making</strong>, the Innovation Labs project has been
working towards running a grants programme to explore how digital tools can be used to
support and improve young people's mental health. </p>

	<p>To help identify potential ideas to develop, design and build, the Innovation Labs ran two
events in 2011/12 with young people, mental health professionals and digital designers to
explore the area of young people and mental health. The first Innovation Labs session
resulted in an <strong>impressive 126 ideas</strong> which were then narrowed down to the seven most
popular and developed intensively at the second session. You can watch the <a href="http://vimeo.com/album/1863138">seven
resulting video pitches here</a>.</p>

	<p>The idea for Doc Ready was pitched at the second Innovation Labs session by <strong>Social
Spider&apos;s</strong> Mark, which you can watch here:</p>

	<figure>
		<iframe src="http://player.vimeo.com/video/37208536" width="600" height="300" frameborder="0"></iframe>
		<figcaption><a href="http://vimeo.com/37208536">Doc Ready (previously Try to See it My Way) Pitch</a></figcaption>
	</figure>

	<p>The final seven ideas were then opened up for applications from social enterprises and
notforprofit organisations to develop, implement and grow each one into a product that
improves the mental health and wellbeing of young people through codesign.</p>
	<p>You can read more about how the tool has been developed over on our blog where you can
also keep track of our latest developments.</p>

	<h2>Get In Touch</h2>
	
	<p>We hope that Doc Ready helps you make the most out of your visit to the GP, we'd love to
hear your feedback about the tool including ways we can make this better. Please get in
touch by emailing the project manager for Doc Ready at FutureGov:</p>

	<p><a href="mailto:matt@wearefuturegov.com">matt@wearefuturegov.com</a></p>

  </div>
</div>
