<div role="main">
  <div class="intro">
	<div>
		<h1>About Us</h1>
	</div>
  </div>
  <div class="content">
		<h2>About CAMHSReady</h2>
		<p>CAMHSReady is a digital tool that helps young people to get ready to see someone at North Staffordshire CAMHS to discuss their emotions, behaviour or mental health. The tool helps young people to know what to expect during a their visit to CAMHS, as well as planning what to say and record the outcomes of their appointments.</p>

		<p>This tool has been developed with young people who have used North Staffordshire CAMHS and its partners, as well as people who work for CAMHS. CAMHSReady builds upon the successful format of a tool called <a href="http://www.docready.org">DocReady</a>, which helps young people to prepare and make the most out of mental health related GP visits.</p>

		<p>The development of the site was led by the same team team who created DocReady: <a href="http://wearefuturegov.com">FutureGov</a> and <a href="http://www.neontribe.co.uk">Neontribe</a>, with valuable extra support from <a href="http://enabledbydesign.org">Enabled by Design</a> and <a href="http://www.socialspider.com">Social Spider</a>.</p>
	

  </div>
</div>
