<div>
	<h1>Info</h1>
	<p>Having problems with your feelings or thoughts? Worried about things that are happening in your head?</p>
	<p>Did you know that your local doctor - known as General Practitioner or GP - can help you with that?</p>
	<p>We know it can be scary, worrying and confusing looking for help.</p>
	<p><strong>Doc Ready is here to help you to get ready to make a visit to the doctor.</strong></p>
	<p>Use our checklist to prepare a list of things you'd like to talk to a doctor about so you can take it with you.</p>
	<p>Use the information below to find out more about finding your GP, booking an appointment, what they can and can't tell other people about you and other useful knowledge.</p>
	<div id="info">
	    <div accordion="">
	        <div accordion-group=""
	            is-open="$first"
	            opened="setTopic"
	            ng-repeat="t in topics"
	            slug="{{t.slug}}">
	            <div accordion-heading><h2>{{t.title}}</h2></div>
	            <div accordion="">
	                <div accordion-group=""
	                           is-open="i === item"
	                           ng-repeat="i in items | filter: { topic: t.slug }"
	                           opened="setItem"
	                           slug="{{i.slug}}">
	                    <div accordion-heading><h3>{{i.title}}</h3></div>
	                    <div ng-bind-html="i.body"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
 

