<figure data-ng-switch on="countOnly">
  <p>
	<a data-route-contains="checklist" data-track-route="checklist" href="#/checklist" data-ng-class="{active: $routeContains}">
	  <span data-ng-switch-when="false">My Checklist</span>
	</a>
	<span data-ng-switch-when="false">{{checklist.length}} item{{checklist.length !== 1 && 's' || ''}}</span>
	<span data-ng-switch-when="true">{{checklist.length > 0 && checklist.length || ''}}</span>
  </p>
  <p>
      <a class="nav-checklist my-checklist icon-eye round-icon" title="checklist" data-route-contains="checklist" data-track-route="checklist" href="#/checklist" data-ng-class="{active: $routeContains}"></a>
  </p>
</figure>