<div role="main" id="checklist">
	<div class="intro red">
		<div class="group-middle">
			<div style="width: 30%;">
				<div>
					<img src="images/intro_checklist.png" alt="" />
				</div>
			</div>
			<div class="center" style="width: 70%;">
				<div>
					<h1>Be Prepared</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="content">
		<h2>My Checklist</h2>
		<p class="status" data-ng-switch="selections.length">
			<span data-ng-switch-default>Put the things you want to talk about in order.<span data-ng-show="touch"> To reorder items, drag them using the <span class="handle key">&#x21d5;</span> handle.</span></span>
			<span data-ng-switch-when="0">Your checklist is empty</span>
		</p>
        <ol data-ui-sortable="{axis:'y', 'cursor':'move', 'handle': (touch && '.handle' || null)}" data-ng-model="selections">
            <li data-ng-class="{handle: touch}" data-ng-repeat="symptom in selections" data-ng-animate="{enter:'animated fadeInUp', leave:'animated fadeOutDown'}">{{symptom.title}} <span data-ng-show="touch" class="handle">&#x21d5;</span><button title="delete item" aria-label="delete" data-ng-click="deselect(symptom)">&#x274c;</button>
            </li>
        </ol>
        <div class="add-symptoms">
			<h2>Anything you've missed out?</h2>
            <div data-add-symptom data-mode="last" placeholder="e.g. I've recently lost my job"></div>
        </div>
		<div class="group-middle">
			<div style="width: 50%" class="button-group left">
				 <a rel="prev" class="with-icon" href="#/picker"><span class="icon-cloud round-icon"></span> <span><i aria-hidden="true">&lt;-</i> choose more things to talk about</span></a>
			</div>
			<div style="width: 50%" class="button-group right">
				<a rel="next" class="with-icon" href="#/checklist/export"><span>see your list of things to talk about <i aria-hidden="true">-&gt;</i></span> <span class="icon-eye round-icon"></span></a>
			</div>
		</div>
  </div>
</div>