<div role="main">
	<div class="intro no-print">
		<h1 id="page-title">Export Checklist</h1>
	</div>
	<div class="content">
		<div class="button-group actions center no-print">
			<button class="icon-print" data-ng-click="track('print');print()">Print</button> 
			<button class="icon-download" data-ng-click="track('download');getpdf()">Download</button>
			<a id="checklistDownloadLink" aria-hidden="true" ng-hide="true"></a>
			<button class="icon-email" data-ng-click="prepareMail()">Email</button>
		</div>
		<img tabindex="0" class="a11y-hide" src="images/howitworks_2.png" alt="Preview image of your checklist export file" />
		<div data-ng-show="showMailer"  style="display:none" data-ng-animate="{show:'animated fadeInDown', hide:'animated fadeOutUp'}">
			<form name="mailer">
				<div class="group-top">
					<div style="width: 50%">
						<div>
							<label>
								<span>Enter your email address:</span>
								<input type="email" name="recipient" data-ng-model="email.recipient" data-ng-required="true"/>
							</label>
						</div>
					</div>
					<div style="width: 50%">
						<div>
							<label>
								<span>Confirm:</span>
								<input type="email" name="econf" data-ng-model="econf" data-ng-required="true" data-validate-equals="email.recipient"/>
							</label>
						</div>
					</div>
				</div>
				<div class="button-group center">
					<button data-ng-disabled="mailer.$invalid" 
									data-ng-click="track('email');sendEmail()" 
									data-ng-switch="email.state" 
									data-ng-class="email.state">
						<span data-ng-switch-when="sending">Sending</span>
						<span data-ng-switch-when="sent">Sent</span>
						<span data-ng-switch-default>Send</span>
					</button>
				</div>
			</form>
		</div>
		<div id="export" aria-hidden="true">
		<div class="group-left group-top">
			<div style="width: 40%">
				<div>
					<h1>My Checklist</h1>
					<p><em>Created on <strong>{{app_domain}}</strong></em></p>
				</div>
			</div>
			<div style="width: 60%">
				<div>
					<section>
						<h2>Appointment details</h2>
						<dl class="contenteditable">
							<dt>Doctor</dt>
							<dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="your doctor's name"> </dd>
							<dt>Surgery</dt>
							<dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="your surgery name">{{settings.surgery.title}} <span data-ng-if="settings.surgery['a10:content']['s:organisationSummary']['s:contact']['s:telephone']">(Phone: {{settings.surgery['a10:content']['s:organisationSummary']['s:contact']['s:telephone']}})</span></dd>
							<dt>Date</dt>
							<dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="the date of your appointment"> </dd>
							<dt>Time</dt>
							<dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="time of your appointment"> </dd>
						</dl>
					</section>
				</div>
			</div>
		</div>
			<section>
				<h2>Things I want to talk about</h2>
				<div class="checklist-export">
					<ol data-ng-if="selections.length">
						<li data-ng-repeat="symptom in selections"><i>{{$index+1}}</i> {{symptom.title}}</li>
					</ol>
					<p data-ng-if="!selections.length">
						There are no items in your checklist. <a href="#/picker">Try adding some</a>.
					</p>
				</div>
			</section>
			<section data-ng-repeat="s in supplementary">
				<h2>{{s.title}}</h2>
				<p><em>{{s.rubric}}</em></p>
				<div class="tall notes">{{s.answer}}</div>
			</section>
			<section>
				<h2>My notes</h2>
				<p><em>A place to record notes of what you heard in your appointment.</em></p>
				<div class="tall notes"></div>
			</section>
		</div>
	</div>
</div>