<div role="main" id="home">
  <div class="intro">
    <div>
      <h2>Helping Young People Get Doc Ready</h2>
      <p><a role="button" href="#/about">About Us</a></p>
    </div>
  </div>
  <div class="content">
    <ol class="introduction">
		<li>
			<a href="#/advice">
				<div>
					<h3>Info &amp; advice</h3>
					<p>Doc Ready has tailored info &amp; advice about what to expect and how to plan for a mental health related GP consultation</p>
					<p><strong>Take a look&hellip;</strong></p>
				</div>
				<img src="images/howitworks_1.png" alt="" />
			</a>
		</li>
		<li>
			<a href="#/picker">
				<img src="images/howitworks_2.png" alt="" />
				<div>
					<h3>Build Your Checklist</h3>
					<p>Choose experiences that you are having problems with and add them to your custom checklist to take to your GP</p>
					<p><strong>Get started&hellip;</strong></p>
				</div>
			</a>
		</li>
		<li>
			<a href="#/checklist">
				<div>
					<h3>Be Prepared</h3>
					<p>Take your thoughts with you to your GP appointment using the export tools. It's simpler than pencil and paper</p>
					<p><strong>Try out the tools&hellip;</strong></p>
				</div>
				<img src="images/howitworks_3.png" alt="" />
			</a>
		</li>
    </ol>
  </div>
</div>
