<div role="main" id="home">
  <div class="intro">
    <div>
      <h2>Helping Young People Get Doc Ready</h2>
      <a role="button" ng-href="#/about">About Us</a>
    </div>
  </div>
  <div class="content">
    <ol>
      <li>
        <h3>Info &amp; advice</h3>
        <p>Doc Ready has tailored info &amp; advice about what to expect and how to plan for a mental health related GP consultation</p>
      </li>
      <li>
        <h3>Build Your Checklist</h3>
        <p>Choose experiences that you are having problems with and add them to your custom checklist to take to your GP</p>
      </li>
      <li>
        <h3>Be Prepared</h3>
        <p>Take your thoughts with you to your GP appointment using the export tools or as simple as a pencil and paper</p>
      </li>
    </ol>
  </div>
</div>
