<div role="main" id="home">
  <div class="intro home-banner">
      <img aria-hidden="true" src="images/intro_helping_cut.png" alt="" />
      <h1 id="page-title">Helping you to get<br> CAMHSReady</h1>
  </div>
  <div class="content">
    <p>CAMHSReady helps you get ready for your first visit to North Staffordshire CAMHS to discuss your emotions, behaviour or mental health. CAMHSReady has been developed by young people who have used CAMHS and staff from the service.</p>
    <ol class="group-center group-top introduction">
      <li style="width: 50%">
        <div>       
          <img src="images/howitworks_1.png" alt="" />
          <h2>Info &amp; Advice</h2>
          <p>Explains what visiting CAMHS is like and how to get the most out of your appointment.</p>
          <p><a class="button" href="#/advice">Take a look</a></p>
        </div>
      </li>
      <li style="width: 50%">
        <div>
          <img src="images/howitworks_2.png" alt="" />
          <h2>Build Your Checklist</h2>
          <p>CAMHSReady helps you plan and remember what you want to say at CAMHS by creating a checklist that you can then take with you on your visit. Choose from lists of things you might want to talk about or add your own.</p>
          <p><a class="button" href="#/picker">Get started</a></p>
        </div>
      </li>
    </ol>
  </div>
</div>
