<h1>Recently I have noticed changes in my...</h1>
<div id="picker" ng-switch="!!activeTag">
  <div ng-switch-when="false">
    <div ng-switch="settings.svg">
      <div ng-switch-when="false">
        <ul class="tags">
          <li ng-repeat="tag in tags">
            <a role="button" ng-href="#/tool/picker/{{tag.text}}" style="font-size:{{tag.count + 1}}em">
            {{tag.text}} <span class="count" ng-show="(tag.count !== 0)">{{tag.count}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-switch-when="true">
        <div class="wordcloud" d3cloud words="tags" options="cloudConfig" navigate="showTag"></div>
      </div>
    </div>  
    <div class="button-group">
      <a role="button" ng-href="#/tool/checklist" rel="next">I'm Done</a>
    </div>
  </div>
  <div ng-switch-when="true">
    <h2>{{activeTag}}</h2>
    <ul class="symptoms">
      <li ng-repeat="symptom in symptoms | filter:hasActiveTag">
        <label ng-class="{selected: symptom.selected}"><input type="checkbox" ng-model="symptom.selected"/> <span>{{symptom.title}}</span></label>
      </li>
    </ul>
    <div class="button-group">
      <a role="button" ng-href="#/tool/picker">Done</a>
    </div>
  </div>
</div>