<h1>Recently I have noticed changes in my...</h1>
<div id="picker" ng-switch="!!activeTag">
  <div ng-switch-when="false">
    <ul class="tags">
      <li ng-repeat="tag in tags">
        <a role="button" ng-href="#/tool/picker/{{tag.text}}" style="font-size:{{tag.count + 1}}em">
        {{tag.text}} <span class="count" ng-show="(tag.count !== 0)">{{tag.count}}</span>
        </a>
      </li>
    </ul>
    <div d3cloud words="tags" width="100%" height="400" font="Play"></div>
    <div class="button-group">
      <button ng-click="tags.push({text:'hello', count:4})">add</button> 
      <a role="button" rel="next" ng-href="#/tool/checklist">I'm Done</a>
    </div>
  </div>
  <div ng-switch-when="true">
    <h4>{{activeTag}}</h4>
    <ul>
      <li ng-repeat="symptom in symptoms | filter:hasActiveTag">
        <h5>{{symptom.title}} <input type="checkbox" ng-model="symptom.selected"/></h5>
      </li>
    </ul>
    <a role="button" ng-href="#/tool/picker">Done</a>
  </div>
</div>