<div role="main">
  <div class="intro survey-banner">
    <div class="group-middle">
      <div class="center">
        <div>
          <h2>We want Doc Ready to be the best it can be!</h2>
          <a style="padding: 0.75em; margin-top: 40.5px" class="button"><h1>Help us by giving your views</h1></a>
          <h2>At the end, you can enter a prize draw for 3 chances to win a £50 high street shopping voucher.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h2>Who is doing and funding this research?</h2>
    <p>One of the funders behind Doc Ready, Comic Relief, have asked researchers from <a href="http://www.mindtech.org.uk/">MindTech</a> at the <strong>University of Nottingham</strong>, to find out about how people are using it and whether it is helping with their mental health and wellbeing.<p>
    <img style="max-width: 400px; height: auto" class="center-image" src="images/logo_nottingham.png">
    <h2>What will I have to do?</h2>
    <p>We need volunteers to help by telling us about how you have used Doc Ready and whether this was helpful to you. Most of the questions will involve making a choice from a set of options, while some questions ask you to write a short answer. The questionnaire should take about 10-15 minutes to complete. At the end you can enter the prize draw.</p>
    <h2>Do I have to take part?</h2>
    <p>Taking part in this research is entirely voluntary. When you click the ‘Finished!’ button at the end of the questions, this is taken as your agreement to take part in the research and your permission for us to use the information you have provided. We’ll remind you of this at the end.</p>
    <h2>Will my information be kept confidential?</h2>
    <p>All information which you provide for the research will be kept strictly confidential. However,you can withdraw at any time without having to provide a reason. If you decide to withdraw after submitting your questionnaire, the information collected so far cannot be erased and this information may still be used in the project analysis.</p>
    <h2>Want to know the legal stuff?</h2>
    <p>Here’s the legal stuff you need to know:</p>
    <ul>
      <li>Our procedures for handling, processing, storage and destruction of your data are compliantwith the Data Protection Act 1998 and Safe Harbor guidelines</li>
      <li>The research has been given approval by The University of Nottingham, Faculty of Medicine and Health Research Ethics Committee.</li>
    </ul>
    <h2>Who shall I contact if there is a problem?</h2>
    <p>If you have any questions about the research or taking part, get in touch with Lucy Simons at the University of Nottingham on <a href="mailto:lucy.simons@nottingham.ac.uk">lucy.simons@nottingham.ac.uk</a> or 0115 823 0431. She’ll be happy to help.</p>
    <h2>Can I give feedback in other ways?</h2>
    <p>[DRAFT TEXT] Yes! You could talk to a research team member about your experiences (over the phone, via Skype or even face to face if you prefer) or make a video diary and send it to us... [more here once agreed by the Research Ethics Committee]</p>
  </div>
</div>
